/* Geral */

body{
   font-family: Josefin Sans;
   color: $white-color;
   background-color: #033a61;
   text-decoration: none;
}

.fade{
   background: rgba(0, 0, 0, 0.5);
   color: rgba(255, 255, 255, 0.5);
}

a:link{
   color: $white-color;
   text-decoration: none;
   font-size: 1.3em;
   transition: 500ms;
}

a:visited{
   color:$white-color;
}

a:hover{
   color: gold;
   font-size: 25px;
}

/* animação */

.anime1{
   opacity: 0;
   transition: 1s;
}

.anime2{
   opacity: 0;
   transition: 1.5s;
}

.anime-start{
   opacity: 1;
}