/*Training and Certificates */

.main .trainingCertificates{
   @include layout-default(800px);
   justify-content: space-around;

   .text{
       @include text-default(25px);
       margin: 0 7% 0 7%;
       width: 50%;
   }

   .text h2{
       font-weight: $bold;
   }

   .text ul{
       list-style: none;
   }
}